@using JewelryStore.Models
@model ChatModel

<div id="RefreshArea">
    @{ Html.RenderPartial("History", Model); }
</div>

@Ajax.ActionLink("ActionLink", "Index", "Chat", new { user = "", logOn = "", logOff = "", chatMessage = "" },
    new AjaxOptions { UpdateTargetId = "RefreshArea", OnSuccess = "ChatOnSuccess", OnFailure = "ChatOnFailure" },
    new { @id = "ActionLink", @style = "visibility:hidden;" })

<div class="chat-input-form">
    <textarea id="txtMessage" rows="2" placeholder="Введіть повідомлення..." class="chat-textarea"></textarea>
    <div class="chat-buttons">
        <button id="btnMessage" class="btn-filter">Надіслати</button>
        <button id="btnLogOff" class="btn-reset">Вийти</button>
    </div>
</div>